*
{
    margin: 0;
    padding: 0;
}

#barra
{
    text-align: center;
    background-color: #353a40 !important;
}

#boton-comprar
{
    color: #168d32;
}

#carouselExampleCaptions
{
    width: 100%;
}

#boton-ticket
{
   background-color: #28a744;
}

#oradores
{
    padding-top: 10px;
}

#tarjetas
{
    width: 80%;
    margin: auto;
}

#react
{
    color: white !important;
}

#texto
{
    padding-top: 10px;
    background-color: #353a40;
    padding-right: 20px;
}

#formulario
{
    width: 50%;
    margin: auto;
}

#boton-enviar
{
    background-color: #96c93e !important;
    color: white;
}

#footer
{
    background-color: #1d506d !important;
    color: white;
    padding-top: 25px;
    height: 100px;
    text-align:center;   
}

